
@{
    ViewData["Title"] = "CreateBlobContainer";
}

<h1>CreateBlobContainer</h1>

<p>
    The @ViewBag.BlobContainerName is created!
    @(ViewBag.Success == true ? "Succeeded!" : "Failed! Because the container is exist.")
</p>

