@model CoinsAge.Models.Category;

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-2 py-4 px-5 box-shadow-1 vh-100">
        <a asp-controller="Dashboard" asp-action="Index"><div class="p-2 cursor-pointer text-2 hover-1">Dashboard</div></a>
        <a asp-controller="User" asp-action="Index"><div class="p-2 cursor-pointer text-2 hover-1">Manage Writers</div></a>
        <a asp-controller="News" asp-action="IndexAdmin"><div class="p-2 cursor-pointer text-2 hover-1">Manage News</div></a>
        <a asp-controller="Category" asp-action="Index"><div class="p-2 cursor-pointer text-2 hover-1">Manage Categories</div></a>
    </div>
    <div class="col-10 py-4 px-5 row">
        <div class="col-6 neumorph-1 p-4">
            <h4 class="text-3">List of Categories</h4>
            <p><b>Note: Removing a category will delete all of the news associated with the category!</b></p>
            <div class="row mt-4">
                @foreach (var item in ViewBag.Category)
                {
                <div class="col-6 mt-2 shadow-hover py-2 px-3 display-hover-trigger">
                    <div class="row">
                        <div class="col-8">@item.CategoryName</div>
                        <form class="col-4 display-hover text-right" asp-action="Delete" asp-controller="Category" method="post">
                            <button class="btn btn-default p-0 m-0"><i class="fas fa-times cursor-pointer text-3"></i></button>
                            <input type="hidden" name="categoryid" value="@item.CategoryId" />
                        </form>
                    </div>
                </div>
                }
            </div>
            
        </div>
        <div class="col-6 p-4">
            <h4 class="text-3">Add New Category</h4>
            <form class="mt-4" asp-action="Create" asp-controller="Category" method="post">
                <input class="p-1" type="text" name="categoryname" placeholder="Enter category name" />
                <button class="button1 py-1 px-4">Add Category</button>
            </form>
        </div>
    </div>
</div>