@model CoinsAge.Models.News

@{
    ViewData["Title"] = "Edit";
}


<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h4 class="d-block text-3 font-weight-bold">Edit News</h4>
        <p class="d-block"><a asp-action="Index" class="text-3">My News <i class="fas fa-chevron-right"></i></a></p>
    </div>
    <div class="mt-4">
        <form id="createnews" asp-action="Edit" enctype="multipart/form-data" method="post" class="row justify-content-center ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsId" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Image URL</label>
                    <input asp-for="ImageFile" type="file" id="newsimage" accept="image/*">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>

                    <img id="news-image" class="w-100 d-block mt-3" src="@Url.Content(ViewBag.NewsImage)" alt="Choose image" />
                </div>
            </div>

            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label">Select Category:</label>
                    <select name="Category" asp-for="Category" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))" class="form-control"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" name="content" class="form-control" rows="12" cols="50" form="createnews" placeholder="Enter your article content here.."></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="button1 py-1 w-50" />
                </div>
            </div>
        </form>
    </div>
</div>