@model CoinsAge.Models.News

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-center mt-5">
    <div>
        <h4 class="d-block text-3 font-weight-bold">Delete</h4>
        <p class="d-block">Are you sure you want to delete this?</p>
        <div class="row">
            <dt class="col-sm-4">
                Title
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                Publish Date
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PublishDateTime)
            </dd>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="NewsId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    
</div>

